@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #246, #468);
  background-size: 400%;
  color: white; /* fallback color */
  @apply animate-gradient-shift bg-fixed bg-no-repeat py-10 text-base text-white;
}

.avatar {
  @apply mx-auto w-1/4 rounded-full md:w-24 lg:w-28;
}

.title {
  @apply py-5 text-center text-4xl;
}
.description {
  @apply py-5 text-center text-lg;
}

.link-container {
  @apply mb-3 h-16 w-11/12 overflow-hidden xl:w-1/2 2xl:w-1/3;
  @apply relative flex items-center justify-center;
  @apply cursor-pointer border-2 border-solid;
  @apply rounded-xl;
  transition: background-color 0.3s ease;
}

.link-container:hover {
  @apply mix-blend-screen;
  background-color: white; /* fallback color */
  color: black; /* fallback color */
  @apply bg-white text-black;
}

.link-container:hover .hover-uninvert {
  @apply invert-0;
}

.link-container:hover .hover-invert {
  @apply invert;
}

.link-logo {
  @apply absolute left-3 block h-8 w-auto object-contain;
  object-position: initial;
}

#links ul li {
  @apply flex items-center justify-center;
}

.hover-uninvert {
  @apply invert filter;
}

.hover-invert {
  @apply invert-0 filter;
}
